{% extends 'inc/dashboard_base.html' %}
{% load static anna %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% bootstrap_javascript %}
{% block title %}Module{% endblock title %}
{% block content %}

<div class="container">
    <div class="px-3 mt-5 mb-3">
    <div id="all-title">
        <p class="text-secondary d-flex align-items-center course-navigation" style="font-size: 17px;">
        <a href="{% url 'trainings'  %}">
            Alle Kurse
        </a>

        <i class="material-icons mx-2 link-arrow">keyboard_arrow_right</i>

        {{ training }}
        </p>
    </div>
    </div>
</div>

{% include 'inc/msgs.inc.html' %}


<div class="container mb-3">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-8 py-3">
            {% if not modules  %}
            <div class="card">
                <div class="card-body text-center d-flex align-items-center justify-content-center"
                    style="height: 300px;">
                    <div>
                        <img src="{% static 'img/notfound.png' %}" style="width: 150px;" alt="">
                        <h4 class="text-secondary display-3 mt-3" style="font-size: 25px;">Es existiert kein Modul in diesem Kurs</h4>
                    </div>
                </div>
            </div>
            {% endif %}

            {% for single_module in modules %}

            <div class="card mb-3 lektion">
              {% previous_module_completed single_module user as previous_completed %}
                {% if single_module.training.stick_to_the_plan and not previous_completed %}
                  <div class="blurred"></div>
                {% endif %}
                <div class="row g-0">
                    <div class="col-md-5 d-flex align-items-center thumbnail">
                        <a href="{% url 'media' training.id single_module.id  %}"  class="h-100 w-100">
                            <div
                                style="background-image: url({{ single_module.thumbnail.url }});
                                    background-size: cover;
                                    background-repeat:   no-repeat;
                                    background-position: center center; width:100%; height: 100%">

                            </div>
                        </a>
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h5 class="card-title">{{ single_module.name }}</h5>
                                </div>
                                <div class="col-sm-3 d-flex justify-content-end theme-primary-text">
                                    <p style="font-size: 16px" class="mb-0">{{ single_module.get_all_media.count }} Lektion{{ single_module.get_all_media.count|pluralize:"en" }}</p>


                                </div>
                            </div>
                            <p class="card-text">{{ single_module.get_short_description | linebreaksbr }}</p>

                            <div class="row">
                                <div class="col-sm-6">
                                    <a href="{% url 'media' training.id single_module.id  %}"
                                        class="btn theme-secondary-btn">Kapitel öffnen</a>
                                </div>
                                <div class="col-sm-6 d-flex align-items-center justify-content-end">
                                    <div class="">
                                        <div class="progress mb-1"
                                            style="height: 0.35rem; width: 9rem; border-radius: 0.95rem;">
                                            <div class="progress-bar bg-green"  style="width: {{single_module.progress}}%;"  role="progressbar"
                                                aria-valuenow="{{ single_module.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="py-0 my-0">{{ single_module.progress }}% abgeschlossen</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="col-sm-12 col-md-12 col-xl-4 py-3">


            {% if training %}
            <div class="card">
                <div class="card-header bg-white ">
                    <h4 class="my-2 py-0">{{ training.name }}</h4>
                </div>
                <img src="{{ training.thumbnail.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <!-- <h4 class="card-title">{{ training.name }}</h4> -->
                    <div>
                        <p class="card-text">{{ training.description.html | safe }}</p>
                    </div>
                </div>
            </div>
            {% else %}

            <div class="card">
                <div class="card-body text-center d-flex align-items-center justify-content-center"
                    style="height: 300px;">
                    <div>
                        <img src="{% static 'img/notfound.png' %}" style="width: 150px;" alt="">
                        <h4 class="text-secondary display-3 mt-3" style="font-size: 25px;">No training selected</h4>
                    </div>
                </div>
            </div>





            {% endif %}
        </div>
    </div>



</div>

{% endblock content %}
