// -load django_bootstrap5

.container
    .login-div
        .login-form
            div
                include inc/msgs.inc.html

            .form.border.p-4.background-light(style="min-width: 330px;")
                form(action="." method="post")
                    -csrf_token
                    .d-grid
                        | {{ form.as_p }}
                        input(type="hidden" name="next" value="/")

                    .my-2
                        input.security(type="checkbox" name="datenschutz" id="data_security")
                        label.security(for="data_security") Ich aktzeptiere die&nbsp;
                            a(href="/datenschutz") Datenschutzregelungen

                    .d-grid.gap-2
                        button.btn.theme-secondary-btn#login(type="submit" disabled) Einloggen
                br
                div
                    a(href="/password_reset/") Benutzername oder Passwort vergessen?

    script.
        // Selektiere das Checkbox-Element und den Submit-Button
        const checkbox = document.getElementById('data_security');
        const submitButton = document.getElementById('login');

        // Füge einen Event Listener hinzu, der jedes Mal ausgeführt wird, wenn der Status des Checkboxes geändert wird
        checkbox.addEventListener('change', function() {
            // Überprüfe, ob der Checkbox aktiviert ist
            if (checkbox.checked) {
                // Wenn ja, aktiviere den Submit-Button
                submitButton.disabled = false;
            } else {
            // Andernfalls deaktiviere den Submit-Button
            submitButton.disabled = true;
            }
        });
