{% extends 'inc/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% bootstrap_javascript %}




{% block content %}
<div class="container">
    <h1 class="display-6 mb-0 mt-4 text-main-head" style="text-align: center;">
        Bitte einloggen
    </h1>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div>
                {% include 'inc/msgs.inc.html' %}
            </div>

            <div class="form border p-4 background-light" style="min-width: 400px;">
                <form action="{% url 'signin' %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form login_form layout="floating" %}
                    <div class="d-grid gap-2">
                        <button class="btn theme-secondary-btn" type="submit">Einloggen</button>
                    </div>
                </form>
              <br>
              <a href="/password_reset/">
                Benutzername oder Passwort vergessen?
              </a>
            </div>

            <!-- <div class="card text-center mt-4">
              <div class="card-body">
                <p class="card-text">New to MAMAanywhere? <a href="{% url 'signup' %}" class="link-text">Create an account</a></p>
              </div>
            </div> -->
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

{% endblock content %}
