{% extends 'inc/dashboard_base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% bootstrap_javascript %}
{% block title %}Dashboard{% endblock title %}
{% block content %}

<div id="my-content">


    {% include 'inc/msgs.inc.html' %}

    <div class="px-3 mt-5 mb-3">
        <div id="all-title">
            <p class="text-secondary d-flex align-items-center course-navigation" style="font-size: 17px;">
                <a href="{% url 'trainings'  %}">
                    Alle Kurse
                </a>

                <i class="material-icons mx-2 link-arrow">keyboard_arrow_right</i>

                <a href="{% url 'all_modules' training.id  %}">
                    {{ training }}
                </a>

                <i class="material-icons mx-2 link-arrow">keyboard_arrow_right</i>

                <a href="{% url 'media' training.id module.id %}">
                    {{ module }}
                </a>

                {% if media %}
                  <i class="material-icons mx-2 link-arrow">keyboard_arrow_right</i>
                  {{ media }}
                {% endif %}
            </p>
        </div>

        <div id="only-title">
            <p class="text-secondary d-flex align-items-center course-navigation" style="font-size: 17px;">
                {% if media %}
                    <a href="{% url 'single_media' training.id module.id module.id %}">
                        {{ media }}
                    </a>
                {% endif %}
            </p>
        </div>
    </div>


    <div class="container">
        <div class="row mb-4">
            <div class="col-sm-12 col-md-12 col-xl-8 py-3">
                {% if not media %}
                  <div class="card">
                      <div class="card-body text-center d-flex align-items-center justify-content-center"
                          style="height: 300px;">
                          <div>
                              <img src="{% static 'img/notfound.png' %}" style="width: 150px;" alt="">
                              <h4 class="text-secondary display-3 mt-3" style="font-size: 25px;">Keine Lektion vorhanden</h4>
                          </div>
                      </div>
                  </div>
                {% else %}
                <div class="card media">

                    {% if media.get_file_type == 'audio' %}
                        <div style="width: 100%; border-radius: 4px 4px 0px 0px;">
                            <img src="{{ media.thumbnail.url }}" alt="" style="width: 100%;">
                            <div class="p-2">
                              <audio id="videoDings" controls style="width: 100%;">
                                <source src="{{ media.file.url }}" type="audio/mp3" />
                              </audio>
                            </div>
                        </div>
                    {% else %}
                      <video id="videoDings" playsinline controls data-poster="{{ current_media.thumbnail.url }}">
                        <source src="{{ media.file.url }}" type="video/mp4" />
                      </video>
                    {% endif %}

                    <div class="card-body">
                        <div class="row my-3">
                            <div class="col-md-7">
                                <div>
                                    <div class="d-flex align-items-center">
                                        {% if media.id in completed_media %}
                                        <i class="material-icons text-success" style="margin-right: 8px;"
                                            title="You have already completed it">check_circle</i>
                                        {% endif %}
                                        <h4 class="card-title py-0 my-0">{{ media.name }}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 d-flex align-items-center justify-content-end">
                                {% if not media.is_completed %}
                                  <a type="button" onclick="return confirm('Wirklich als abgeschlossen markieren?')"
                                     href="{% url 'mark-as-done' media.id %}" class="button done">
                                      <button type="button" class="btn btn-width theme-secondary-btn">Als abgeschlossen markieren</button>
                                  </a>
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <p class="card-text">{{ media.description|linebreaksbr }}</p>
                        </div>
                    </div>
                </div>

                {% endif %}

            </div>

            <div class="col-sm-12 col-md-12 col-xl-4 py-3">
                <div class="card py-3 mb-4">
                    <div class="px-3 pb-2 mb-2">
                        <h6 class="text-secondary">Lektionen</h6>
                        <h5>{{ module }}</h5>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            </div>
                        </div>
                    </div>

                    {% for current_media in medias %}

                    <div
                        class="videos-parent {% if current_media.id == media.id %}selected-video{% else %}my-video{% endif %}">

                        <a href="{% url 'single_media' training.id module.id current_media.id %}"
                            class="text-decoration-none">
                            <div class="d-flex align-items-center p-1">
                                <div class="mx-0" style="width: 7%;">
                                    <i class="material-icons {% if current_media.id == media.id %}theme-primary-text{% else %}text-white{% endif %} mx-0"
                                        style="font-size: 30px;">arrow_right</i>
                                </div>
                                <div style="width: 31%;">
                                    <img src="{{ current_media.thumbnail.url }}"  class="img-fluid"
                                        alt="video-thumbnail" style="width: 8rem;">
                                </div>
                                <div style="width: 62%;" class="px-2">
                                    <p class="m-0 p-0 text-dark d-flex align-items-center">
                                        {{ current_media.name }} <br>
                                        {{ current_media.length }}
                                        {% if current_media.id in completed_media %}
                                        <i class="material-icons text-success mx-2">check_circle</i>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </a>

                    </div>
                    {% endfor %}
                </div>

                {% if training %}
                <div class="card">
                    <div class="card-header bg-white ">
                        <h4 class="my-2 py-0">{{ training.name }}</h4>
                    </div>
                    <img src="{{ training.thumbnail.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <!-- <h4 class="card-title">{{ training.name }}</h4> -->
                        <div>
                            <p class="card-text">{{ training.description.html | safe }}</p>
                        </div>
                    </div>
                </div>
                {% else %}

                <div class="card">
                    <div class="card-body text-center d-flex align-items-center justify-content-center"
                        style="height: 300px;">
                        <div>
                            <img src="{% static 'img/notfound.png' %}" style="width: 150px;" alt="">
                            <h4 class="text-secondary display-3 mt-3" style="font-size: 25px;">Kein Kurs ausgewählt</h4>
                        </div>
                    </div>
                </div>

                {% endif %}
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.plyr.io/3.7.2/plyr.js"></script>
<script>
  const player = new Plyr('#videoDings');
</script>
{% endblock content %}
