server {
	server_name anna.liebendgern.de;
	client_max_body_size 5G;

  location = /favicon.ico { access_log off; log_not_found off; }

  location / {
    include proxy_params;
	  proxy_pass http://unix:/tmp/anna.sock;
  }

  location /static/ {
    alias /opt/www/anna/staticfiles/;
    try_files $uri =404;
  }

  location /media/attachments {
    alias /opt/www/anna/media/attachments/;
    try_files $uri =404;
  }

  listen 443 ssl; # managed by Certbot
  ssl_certificate /etc/letsencrypt/live/anna.liebendgern.de/fullchain.pem; # managed by Certbot
  ssl_certificate_key /etc/letsencrypt/live/anna.liebendgern.de/privkey.pem; # managed by Certbot
  include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
server {
  if ($host = anna.liebendgern.de) {
    return 301 https://$host$request_uri;
  } # managed by Certbot

	listen 80;
	server_name anna.liebendgern.de;
  return 404; # managed by Certbot
}
