{% extends 'inc/dashboard_base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}

<div class="container">
    <div class="px-3 mt-5 mb-3">
        <h1 class="h2">Fortschritt</h1>
    </div>
</div>


{% include 'inc/msgs.inc.html' %}

<div class="container">
        <div class="col-sm-12 col-md-12">
            <div class="card text-left">
                <div class="card-body">
                    <h4 class="card-title">Nutzer</h4>
                    <form method="POST"> {% csrf_token %}
                        <input class="search_bar" type="text" name="filter" placeholder="Namen suchen" value="{{ search_text }}"/>
                    </form>
                    <div style="max-height: 80vh; overflow-y: auto; padding-right: 7px;">
                        {% for single_user in users %}
                        <a href="{% url 'progress-training' single_user.user.id %}">
                            <div
                                class="card text-left mt-2 hover {% if single_user.user.id == current_user.id %}bg-light{% endif %}">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <i class="material-icons text-secondary"
                                            style="font-size: 45px;">account_circle</i>
                                        <div class="px-2">
                                            <div>
                                                <h6 class="mb-2 text-dark">
                                                  {{ single_user.user.first_name }} {{ single_user.user.last_name }}
                                                  <span
                                                      class="badge badge-pill badge-success bg-green">{{ single_user.count }}
                                                      Kurse
                                                  </span>
                                                </h6>
                                                <div class="progress mb-1"
                            style="height: 0.35rem;">
                            <div class="progress-bar bg-green"  style="width: {{ single_user.user.progress|stringformat:"f" }}%;"  role="progressbar"
                                aria-valuenow="{{ single_user.user.progress|stringformat:"f" }}" aria-valuemin="0" aria-valuemax="100">
                            </div>

                        </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
