select#chapters
    option() -------
    for chapter in chapter_list
        option(value=chapter.id)= chapter

a.btn.btn-info#copy-button(style="margin-left: 10px" href="{% url 'copy_media' media_id %}") Lektion kopieren

script.
    var chaptersDropdown = document.getElementById("chapters");
    var copyButton = document.getElementById("copy-button");
    console.log(chaptersDropdown)

    chaptersDropdown.addEventListener("input", function() {
        console.log("uhuh")
        var selectedChapter = chaptersDropdown.value;
        if (selectedChapter) {
        var url = "{% url 'copy_media' media_id %}" + selectedChapter + "/";
        copyButton.href = url;
        console.log(url);
        }
    });
