{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'django_quill/media.html' %}

<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="/static/assets/img/favicon{% if STAGE %}-test{% endif %}.png" type="image/x-icon">

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet">

    <!-- CSS file for the toggle button  -->
    <link rel="stylesheet" href="{% static 'assets/css/toggle.css' %}">

    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css" />

    <!-- Custom CSS  -->
    <link rel="stylesheet" href="{% static 'assets/css/my-custom.css' %}?42">

    <!-- <link rel="stylesheet" href="{% static 'assets/richtext/css/site.css' %}"> -->
    <link rel="stylesheet" href="{% static 'assets/richtext/css/richtext.min.css' %}">
    <script src="{% static 'assets/richtext/js/jquery.richtext.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="{% static 'assets/js/general.js' %}"></script>

    <style>
        .card{
            height: fit-content;
        }

        @media screen and (max-width: 768px) {
            .thumbnail a div {
                aspect-ratio: 1040 / 585;
            }
        }
    </style>
    <script>
      const username = "{{ user }}";
    </script>
</head>

<body>
    <div>
      {% include 'inc/header.inc.html' %}
    </div>
    <div>
    {% block content %}
    {% endblock content %}
    </div>

    <footer class="text-white" style="background-color: #f1f1f1;">
        <!-- Grid container -->
        <div class="container pt-4">
            <div class="row">
                <div class="col-sm-6">
                    <a target="_blank">
                        <img class="appLogo" src="{% if STAGE %}{% static 'img/mylogoneu-test.png' %}{% else %}{% static 'img/mylogoneu.png' %}{% endif %}" style="width:180px" alt="Logo">
                    </a>
                </div>
                <div class="col-sm-6 d-flex justify-content-end">
                    <!-- Section: Social media -->
                    <section class="mb-4">
                        <!-- Facebook -->
                        <a class="btn btn-link btn-floating btn-lg text-dark m-1"  target="_blank" href="https://www.facebook.com/liebendgern" role="button"
                            data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>


                        <!-- Instagram -->
                        <a class="btn btn-link btn-floating btn-lg text-dark m-1"  target="_blank" href="https://www.instagram.com/liebend_gern/"
                            role="button" data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

                        <!-- Instagram -->
                        <a class="btn btn-link btn-floating btn-lg text-dark m-1" target="_blank"
                            href="https://www.youtube.com/channel/UCq1ejmb5S8A8tzH-tYN50hg" role="button" data-mdb-ripple-color="dark"><i
                                class="fab fa-youtube"></i></a>
                    </section>
                    <!-- Section: Social media -->
                </div>
            </div>

        </div>
        <!-- Grid container -->


        <!-- Copyright -->

        <div class="text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <p class="my-0">
                          <a href="/datenschutz">Datenschutz</a> |
                          <a href="/impressum">Impressum</a>
                        </p>
                    </div>

                    <div class="col-sm-4 text-center">
                        <div>
                            Anna Holfeld Tel: <b><a href="tel:+491774555297">01774555297</a></b>
                        </div>
                    </div>

                    <div class="col-sm-4">

                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright -->
    </footer>


    <!-- script for resume video function  -->
    <script src="{% static 'assets/js/videoResume.js' %}"></script>

</body>

</html>
