{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-white google-shadow " style="user-select: auto;">
  <div class="container">
    <a href="{% url 'trainings' %}">
      <img src="{% static 'img/mylogo.png' %}" style="width:190px" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex mt-2 menu-form">
        {% if user.is_authenticated %}
          {% if user.is_superuser %}
            <a class="nav-link p-2 align-items-center bg-white theme-secondary-text"
              href="{% url 'progress' %}" rel="noopener" style="user-select: auto;">
              <i class="material-icons" style="font-size: 25px; margin-right: 10px;">donut_large</i>
              Fortschritt
            </a>

            <a class="nav-link p-2 align-items-center bg-white theme-secondary-text" href="/admin"
              rel="noopener" style="user-select: auto;">
              <i class="material-icons" style="font-size: 25px; margin-right: 10px;">admin_panel_settings</i>
              Dashboard
            </a>
          {% endif %}

          {% if user.zoom_link %}
            <a class="nav-link p-2 align-items-center bg-white theme-secondary-text"
              target="_blank" href="{{ user.zoom_link }}" rel="noopener" style="user-select: auto;">
              <i class="material-icons" style="font-size: 25px; margin-right: 10px;">video_camera_back</i>
              Unser ZOOM
            </a>
          {% endif %}

          <a class="nav-link p-2 align-items-center bg-white theme-secondary-text" href="{% url 'profile' %}" rel="noopener"
            style="user-select: auto;">
            <i class="material-icons" style="font-size: 25px; margin-right: 10px;">account_circle</i>
            Profil
          </a>

          <a class="nav-link align-items-center p-2 bg-white theme-secondary-text"
             href="{% url 'logout' %}" rel="noopener" style="user-select: auto;">
            <i class="material-icons" style="font-size: 25px; margin-right: 10px;">logout</i>
            Ausloggen
          </a>

        {% else %}
          <a class="nav-link p-2" href="{% url 'signin' %}" rel="noopener" style="user-select: auto;">
            <button type="button" name="" id="" class="btn bg-white btn-block">Login</button>
          </a>
        {% endif %}
      </form>
    </div>
  </div>
</nav>
